._*
Thumbs.db
.Spotlight-V100
.Trashes
.DS_Store
.grunt
Desktop.ini
node_modules
bower_components
build
temp
tests/visual/results
tests/visual/screenshots

npm-debug.log
validation-status.json
validation-report.json

*.sublime
