@import "CONFIG.general.less";
@import "../../../bower_components/bootstrap/less/popovers.less";


.popover {
  border: 0;
  .box-shadow(0 1px 2px rgba(0,0,0,0.05));
}

.popover-title {
  margin: 0 10px;
  padding: 10px 5px 9px;
  color: @black;
  border-bottom: 1px solid @black;
}

.popover-content {
  padding: 10px 15px;
}
