@import "CONFIG.general.less";




/* Basic Items */

.listmanager {
  .item-list {
    max-height: 50em;
    overflow-x: hidden;
    overflow-y: auto;
    margin-left: 0;
    padding-left: 0;
  }

  .modal-body {
    max-height: 100px;

    .item-list {
      max-height: auto;
    }
  }

  .item-fixed,
  .item {
    border: 1px solid transparent;
    padding: 4px 35px 4px 6px;
    margin-left: 0;

    transition: background linear .2s, border linear .2s, color linear .1s;
  }
  .item:hover {
    background-color: #fafafb;
  }
  .item .confirm {
    float: left;
    margin-left: -1em;
    opacity: 0;

    transition: margin-left linear .2s, opacity linear .2s;
  }
  .item .confirm:hover {
    text-decoration: none;
  }

  // Adjust close link position
  .item > .form-close {
    position: relative;
    top: -2px;
    right: -21px;
    line-height: @baseLineHeight;
  }

  .item .close {
    opacity: .5;

    transition: opacity linear .2s;
  }
  .item:hover .close {
    color: red;
  }
  .item .close:hover {
    opacity: 1;
  }

  /* Confirm Remove */

  .confirm-remove {
    border-color: #eed3d7 transparent;
    color: #b94a48;
  }
  .confirm-remove .confirm {
    margin-left: 0;
    opacity: .5;
  }
  .confirm-remove .confirm:hover {
    opacity: 1;
    cursor: pointer;
  }
  .confirm-remove .close,
  .confirm-remove:hover .close,
  .confirm-remove .close:hover {
    opacity: 0;
  }

  /* Successfully Added */

  .success {
    background-color: #dff0d8;
    border-color: #d6e9c6 transparent;
    color: #468847;
  }

  .input-addmany {
    display: block;
    width: 100%;
    min-height: 4.8em;
    resize: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
}
