<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">

  <title>{{ title }}</title>

  {{> _header }}
</head>

<body>
  {{{ contents }}}

  <footer class="footer-wrapper" role="contentinfo">
    <div class="navbar">
      <div class="container">
        <ul class="nav example-tldr" role="navigation">
          <li class="active"><a href="#">Home</a></li>
          <li><a href="#">About</a></li>
          <li><a href="#">Contact</a></li>
        </ul>
      </div>
    </div>

    {{> _Prototype.Footer }}
  </footer>

  <script src="//cdn.nice.org.uk/V3/Scripts/nice/NICE.TopHat.js" async data-search="#search?q=%term"></script>

  {{> _footer }}
</body>
</html>
