@import "CONFIG.general.less";

@slideInDuration: 250ms;

@-webkit-viewport { width:device-width; }
@-moz-viewport { width:device-width; }
@-ms-viewport { width:device-width; }
@-o-viewport { width:device-width; }
@viewport { width:device-width; }

// Transformations mixins
.perspective(@perspective) {
  -webkit-perspective: @perspective;
     -moz-perspective: @perspective;
      -ms-perspective: @perspective;
       -o-perspective: @perspective;
          perspective: @perspective;
}

.transition-transform(@transform ) {
  -webkit-transition: -webkit-transform @transform;
     -moz-transition: -moz-transform @transform;
       -o-transition: -o-transform @transform;
          transition: transform @transform;
}

.transition-transform-extra(@extra, @transform ) {
  -webkit-transition: @extra @transform, -webkit-transform @transform;
     -moz-transition: @extra @transform, -moz-transform @transform;
       -o-transition: @extra @transform, -o-transform @transform;
          transition: @extra @transform, transform @transform;
}

// general off canvas layout

@media screen and (min-width: 980px) {

    body > .layout-offcanvas > .layout {
        width: (100% - @fluidGridGutterWidth * 2);
        max-width: 1170px;
        margin-left: auto;
        margin-right: auto;
    }

    .layout-fill > .layout-offcanvas > .layout {
        max-width: 100%;
        margin-left: @fluidGridGutterWidth;
        margin-right: @fluidGridGutterWidth;
    }

}

@media screen and (max-width: 979px) {

  body {
      overflow-y: scroll;
  }

  body > .layout-offcanvas {
    position: relative;
    overflow: hidden;

    > .layout {
      position: relative;
      width: 140%;
      left: -40%;
      margin: 0;

      .perspective(1500px);
      .translate3d(0, 0, 0);
      .backface-visibility(hidden);
      .transition-transform(@slideInDuration ease-in-out);

      -webkit-transform-origin: 0 50%;
      transform-origin: 0 50%;
    }

    &.in > .layout {
      .translate3d(28.57143%, 0, 0);
    }
  }

}

@media screen and (max-width: 767px) {

  body > .layout-offcanvas {
    > .layout {
      width: 150%;
      left: -50%;
    }

    &.in > .layout {
      .translate3d(33.33333%, 0, 0);
    }
  }

}

@media screen and (max-width: 480px) {

  body > .layout-offcanvas {
    > .layout {
      width: 175%;
      left: -75%;
    }

    &.in > .layout {
      .translate3d(42.85714%, 0, 0);
    }
  }

}

// Primary Content

@media screen and (max-width: 979px) {
  body > .layout-offcanvas > .layout > .content-primary {
    position: relative;
    float: right;
    width: (71.42857% - @fluidGridGutterWidth * 2);
    margin-left: @fluidGridGutterWidth;
    margin-right: @fluidGridGutterWidth;
    overflow: hidden;

    .translate3d(0, 0, 0);
    .backface-visibility(hidden);
    .transition-transform-extra(opacity, @slideInDuration ease-in-out);
  }
}

@media screen and (max-width: 767px) {
  body > .layout-offcanvas > .layout > .content-primary {
    width: (66.66667% - @fluidGridGutterWidth * 2);
  }
}

@media screen and (max-width: 480px) {
  body > .layout-offcanvas > .layout > .content-primary {
    width: (57.14286% - @fluidGridGutterWidth * 2);
  }
}

// Secondary Offcanvas Content

@media screen and (max-width: 979px) {
  body > .layout-offcanvas {
    > .layout > .content-secondary {
      position: relative;
      float: left;
      width: (28.57143% - @fluidGridGutterWidth * 2);
      margin-left: @fluidGridGutterWidth;
      margin-right: @fluidGridGutterWidth;

      .translate3d(0, 0, 0);
      .backface-visibility(hidden);
      .transition-transform(@slideInDuration ease-in-out);
    }

    &.in > .layout > .content-secondary {
      .translate3d(0, 0, 0);
    }
  }
}

@media screen and (max-width: 767px) {
  body > .layout-offcanvas > .layout > .content-secondary {
    width: (33.33333% - @fluidGridGutterWidth * 2);
  }
}

@media screen and (max-width: 480px) {
  body > .layout-offcanvas > .layout > .content-secondary {
    width: (42.85714% - @fluidGridGutterWidth * 2);
  }
}

// off canvas panel Toggle


.toggle-offcanvas,
.offcanvas-toggle {
    display: none;
    visibility: hidden;
}

@media screen and (max-width: 979px) {

    .offcanvas-toggle {
        display: inline-block;
        visibility: visible;

        &:before,
        &:after {
            text-decoration: inherit;
            display: inline-block;
            speak: none;
            padding: 0;
            font-size: .8em;
            vertical-align: text-top;
        }

        &:after {
            padding: 0 0 0 .5em;
        }

        &.active:after {
            padding: 0;
            content: "";
        }
    }

    .toggle-offcanvas,
    .toggle-offcanvas:hover {
        display: block;
        visibility: visible;
        float: left;
        width: 2em;
        height: 2em;
        text-align: center;
        font-size: 1.4em;
        line-height: 2em;
        margin-left: -60px;
        cursor: pointer;
        color: #fff;
        background-color: #1167b7;
    }
}







// Secondary Offcanvas Content

@media screen and (max-width: 979px) {
    .layout-offcanvas-in {
        height: 100%;
        width: 100%;
        overflow: hidden;
    }
    .layout-offcanvas-fixed .content-secondary {
        height: 100vh;
        overflow-x: 0;
        overflow-y: auto;
        -webkit-overflow-scrolling: touch;
        overflow-scrolling: touch;
    }

    .layout-offcanvas-fixed {
        .content-primary {
            margin-left: @fluidGridGutterWidth;
            margin-right: @fluidGridGutterWidth;
        }

        .content-secondary {
            z-index: 4001;
            position: fixed;
            top: 0;
            width: 40%;
            background: #4e4e4e;
            #translucent.background(@backgroundColor, .95);
            border-right: 1px solid darken(@backgroundColor, 10%);

            .perspective(1500px);
            .translate3d( -100%, 0, 0);
            .backface-visibility(hidden);
            .transition-transform(@slideInDuration ease-in-out);

            -webkit-transform-origin: 0 50%;
            transform-origin: 0 50%;

            > .content-inner {
                padding-left: 24px;
                padding-right: 24px;
                overflow-y: auto;
            }
        }

        &.in {
            overflow: hidden;

            .content-secondary {
              padding-bottom: 79px;
              .translate3d(0, 0, 0);
            }

            .offcanvas-hide {
                position: fixed;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                z-index: 3500;
            }
        }
    }

}

@media screen and (max-width: 767px) {

    .layout-offcanvas-fixed .content-secondary {
        width: 75%;
    }

}
