
// Prevent max-width from affecting Google Maps
#map_canvas img,
.google-maps img {
    max-width: none;
}

// Image decoration
// -------------------------

// Rounded corners
.img-rounded {
    .border-radius(6px);
}

// Add polaroid-esque trim
.img-polaroid {
    padding: 6px;
    background-color: @white;
    border: 1px solid @thumbnail-border-color;
    .box-shadow(0 1px 3px rgba(0,0,0,.1));
}

// Perfect circle
.img-circle {
    .border-radius(500px); // crank the border-radius so it works with most reasonably sized images
}

// create simple border and padding around an image
.img-thumbnail {
    /*padding: 6px;*/
    padding: 0;
    background-color: @white;
    /*border: 1px solid @thumbnail-border-color;*/
    border: 0;
}

a:active,
a:hover,
a:focus .img-thumbnail {
    outline: 0;
    /*border: 1px solid @thumbnail-active-border-color;*/
    border: 0;
}
