<footer class="footer-wrapper">
  {{> _Footer.Nav }}

  <div class="footer">
    <div class="container">
      <a href="http://www.nice.org.uk" class="footer-logo"><i class="logo icon-nice-logo"></i></a>

        <ul class="nav nav-services">
            <li><a href="http://pathways.nice.org.uk"><i class="icon-nice-pathways"></i> NICE Pathways</a></li>
            <li><a href="http://www.nice.org.uk/guidance"><i class="icon-nice-guidance"></i> Guidance</a></li>
            <li><a href="http://www.nice.org.uk/standards-and-indicators"><i class="icon-nice-standards"></i> Standards &amp;&nbsp;Indicators</a></li>
            <li><a href="http://www.evidence.nhs.uk"><i class="icon-nice-evidence"></i> Evidence services</a></li>
        </ul>

        <div class="legal-panel">
            <div class="social-panel">
                <!-- AddThis Button BEGIN -->
                <p class="social-follow addthis_toolbox">
                Follow Us
                <a class="addthis_button_twitter_follow" addthis:userid="nicecomms" target="_blank" title="Follow on Twitter" href="#">
                  <i class="icon-twitter"></i>
                </a></p>
                <!-- AddThis Button END -->
            </div>

            <ul class="nav nav-legal">
              <li><a href="//www.nice.org.uk/about">About</a></li>
              <li><a href="//www.nice.org.uk/accessibility">Accessibility</a></li>
              <li><a href="//www.nice.org.uk/freedom-of-information">Freedom of information</a></li>
              <li><a href="//www.nice.org.uk/get-involved/contact-us">Contact Us</a></li>
              <li><a href="//www.nice.org.uk/glossary">Glossary</a></li>
              <li><a href="//www.nice.org.uk/terms-and-conditions">Terms and conditions</a></li>
              <li><a href="//www.nice.org.uk/subscribe">Subscribe</a></li>
          </ul>

          <p class="legal-copyright">Copyright &copy; 2014 National Institute for Health and Care Excellence. All rights reserved.</p>
      </div>
    </div>
  </div>
</footer>
