
@half-line-height:        @base-line-height / 2;
@quarter-line-height:     @half-line-height / 2;
@threequart-line-height: @quarter-line-height * 3;
@half-grid-spacing:       @grid-spacing / 2;
@quarter-grid-spacing:    @half-grid-spacing / 2;
@threequart-grid-spacing: @quarter-grid-spacing * 3;

// relative heights
.span-lines( @numLines ) {
    .relative_size( height, @numLines * @base-line-height );
}
.span-minlines( @numLines ) {
    .relative_size( min-height, @numLines * @base-line-height );
}

// padding & margin mixins
.margin-zero() {
    margin: 0;
}
.margin( @sizeValues: @base-line-height @grid-spacing / 2 ) {
    .relative_size( margin, @sizeValues );
}
.margin-top( @sizeValue: @base-line-height ) {
    .relative_size( margin-top, @sizeValue );
}
.margin-right( @sizeValue: @grid-spacing / 2 ) {
    .relative_size( margin-right, @sizeValue );
}
.margin-bottom( @sizeValue: @base-line-height ) {
    .relative_size( margin-bottom, @sizeValue );
}
.margin-left( @sizeValue: @grid-spacing / 2 ) {
    .relative_size( margin-left, @sizeValue );
}
.padding-zero() {
    padding: 0;
}
.padding( @sizeValues: @base-line-height @grid-spacing / 2 ) {
  .relative_size( padding, @sizeValues );
}
.padding-top( @sizeValue: @base-line-height ) {
    .relative_size( padding-top, @sizeValue );
}
.padding-right( @sizeValue: @grid-spacing / 2 ) {
    .relative_size( padding-right, @sizeValue );
}
.padding-bottom( @sizeValue: @base-line-height ) {
    .relative_size( padding-bottom, @sizeValue );
}
.padding-left( @sizeValue: @grid-spacing / 2 ) {
    .relative_size( padding-left, @sizeValue );
}

// block margin mixins
.block-margins-zero() {
    .margin-zero;
    .padding-zero;
}
.block-margins-all( @sizeValue: @base-line-height ) {
  .margin( @sizeValue );
  .padding-zero;
}
.block-margins-vertical( @sizeValue: @base-line-height ) {
  .margin( @sizeValue 0);
  .padding-zero;
}
.block-margins-horizontal( @sizeValue: @grid-spacing ) {
  .margin( 0 @sizeValue );
  .padding-zero;
}
.block-margins-left( @sizeValue: @base-line-height ) {
  .margin( @sizeValue 0 @sizeValue @sizeValue);
  .padding-zero;
}
.block-margins-right( @sizeValue: @base-line-height ) {
  .margin( @sizeValue @sizeValue @sizeValue 0);
  .padding-zero;
}
.block-margins-top( @sizeValue: @base-line-height ) {
  .margin( @sizeValue 0 0 );
  .padding-zero;
}
.block-margins-bottom( @sizeValue: @base-line-height ) {
  .margin( 0 0 @sizeValue );
  .padding-zero;
}
.block-margins-centered( @sizeValue: @base-line-height ) {
  .margin( @sizeValue auto );
  .padding-zero;
}

.block-padding-all( @sizeValue: @quarter-line-height @half-grid-spacing ) {
  .margin-zero;
  .padding( @sizeValue );
}
.block-padding-vertical( @sizeValue: @quarter-line-height / 4 ) {
  .margin-zero;
  .padding( @sizeValue 0);
}
.block-padding-horizontal( @sizeValue: @half-grid-spacing ) {
  .margin-zero;
  .padding( 0 @sizeValue );
}
.block-padding-left( @sizeValue: @half-grid-spacing ) {
  .margin-zero;
  .padding( @base-line-height / 4 0 @base-line-height / 4 @sizeValue );
}
.block-padding-right( @sizeValue: @grid-spacing / 2 ) {
  .margin-zero;
  .padding( @base-line-height / 4 @sizeValue @base-line-height / 4 0);
}

// borders

.border-zero() {
  border-width: 0;
}

.border( @color ) {
  border: 1px solid @color;
}

.border-bottom( @color ) {
  .border-zero;
    border-bottom: 1px solid @color;
}

.border-top( @color ) {
  .border-zero;
    border-top: 1px solid @color;
}

.border-left( @color ) {
  .border-zero;
    border-left: 1px solid @color;
}

.border-right( @color ) {
  .border-zero;
    border-right: 1px solid @color;
}

.border-arrow-down( @sizeValue: @base-line-height / 2) {
  position: absolute;
  width: 0;
  height: 0;
  .padding-zero;
  left: 50%;
  bottom: 0;
  margin-left: ( @sizeValue ) * -1px;
  margin-bottom: ( @base-line-height ) * -1px;
  .relative_size( border-width, @sizeValue );
  border-style: solid;
  border-color: transparent;
}
