<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">

  <title>{{ title }}</title>

  {{> _header }}
</head>

<body>
  {{> _Global.Nav }}

  <main role="main">
    <header class="masthead" role="banner">
      <div class="container">
        <h1>{{ title }}</h1>

        <p>{{ description }}</p>

        <ul class="masthead-links">
          <li><a href="{{ gitrepo }}" class="btn">GitHub project</a></li>
          <li><a href="/design-patterns.html" class="btn action-primary">Design patterns</a></li>
          <li>Version {{ version }}</li>
        </ul>
      </div>
    </header>

    <div class="container marketing">
      {{{ contents }}}
    </div>
  </main>

  {{> _Global.Footer }}

  {{> _footer }}
</body>
</html>
