<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">

  <title>{{ title }}</title>

  {{> _header }}
</head>

<body>
  <div class="nice-tophat">
    <div class="nice-global" id="nice-global">
      <div class="tophat-inner">
        <ul class="menu">
          {{> _nav }}
        </ul>
      </div>
    </div>
  </div>

  <div class="jumbotron masthead">
    <div class="container">
      <h1>{{ title }}</h1>

      <p>{{ description }}</p>

      <ul class="masthead-links">
        <li><a href="{{ gitrepo }}" class="btn">GitHub project</a></li>
        <li><a href="./getting-started#patterns" class="btn action-primary">Patterns</a></li>
        <li>Version {{ version }}</li>
      </ul>
    </div>
  </div>

  <div class="container marketing">
    {{{ contents }}}
  </div>

  <div class="navbar navbar-inverse">
    <div class="navbar-inner">
      <div class="container">
        <ul class="nav nav-pills">
          {{> _nav }}
        </ul>
      </div>
    </div>
  </div>

  {{> _Global.Footer }}

  {{> _footer }}
</body>
</html>
