<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">

  <title>{{ title }}</title>

  {{> _header }}
</head>

<body>
  <div class="nice-tophat">
    <div class="nice-global" id="nice-global">
      <div class="tophat-inner">
        <ul class="menu">
          {{> _nav }}
        </ul>
      </div>
    </div>
  </div>

  <!-- Page Header
  ================================================== -->
  <header class="page-header">
    <div class="container">
      <ul class="breadcrumb">
        <li><a href="/">Home</a> <i class="divider icon-chevron-right"></i></li>
      </ul>

      <h1>{{ title }}</h1>

      <p class="lead">{{ description }}</p>
    </div>
  </header>

  <article class="layout layout-first-right">
    <div class="content content-primary">
      {{{ contents }}}
    </div>

    <aside class="content content-secondary">
      <!-- Docs nav
      ================================================== -->
      <nav class="menu-container">
        <ul class="nav nav-list">
        </ul>
      </nav>
    </aside>
  </article>

  <div class="navbar navbar-inverse">
    <div class="navbar-inner">
      <div class="container">
        <ul class="nav nav-pills">
          {{> _nav }}
        </ul>
      </div>
    </div>
  </div>

  {{> _Global.Footer }}

  {{> _footer }}
</body>
</html>
