<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">

  <title>{{ title }}</title>

  {{> _header }}
</head>

<body>
  {{> _Global.Nav }}

  <!-- Page Header
  ================================================== -->
  <header class="page-header">
    <div class="container">
      {{> _Global.Breadcrumbs }}

      <h1>{{ title }}</h1>

      <p class="lead">{{ description }}</p>
    </div>
  </header>

  <main class="layout layout-left-secondary" role="main">
    <article class="column column-primary">
      {{{ contents }}}
    </article>

    <aside class="column column-secondary">
      <ul class="nav nav-list">
        {{> _Nav.Relative}}
      </ul>
    </aside>
  </main>

  {{> _Global.Footer }}

  {{> _footer }}
</body>
</html>
