<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">

  <title>{{ title }}</title>

  {{> _header }}
</head>

<body>
  <div class="nice-tophat">
    <div class="nice-global" id="nice-global">
      <div class="tophat-inner">
        <ul class="menu">
          {{> _nav }}
        </ul>
      </div>
    </div>
  </div>

  <!-- Page Header
  ================================================== -->
  <header class="page-header">
    <div class="container">
      <ul class="breadcrumb">
        <li><a href="/">Home</a> <i class="divider icon-chevron-right"></i></li>
      </ul>

      <h1>{{ title }}</h1>

      <p class="lead">{{ description }}</p>
    </div>
  </header>

  <article class="container">
    {{{ contents }}}
  </article>

  <div class="navbar navbar-inverse">
    <div class="navbar-inner">
      <div class="container">
        <ul class="nav nav-pills">
          {{> _nav }}
        </ul>
      </div>
    </div>
  </div>

  {{> _Global.Footer }}

  {{> _footer }}

  <script>
  (function() {
    $('.guide-example').each(function() {
      if ( $(this).is('.example-processed') ) return;

      var $example = $(this).clone();

      $example.children().each( processChild );

      var $code = $('<code/>').text( $example.html().replace( '\n', '' ) );

      $('<pre class="prettyprint linenums" />').append( $code ).insertAfter( this );

      $(this).addClass('example-processed');
    });

    function processChild() {
      var $child = $(this);

      if ( $child.is('.example-ignore') ) {
        if ( this.nextSibling && this.nextSibling.nodeType === 3 && this.nextSibling.data.trim() === '' ) {
          $( this.nextSibling ).remove();
        }
        $child.remove();
        return;
      }

      if ( $child.is('.example-tldr') ) {
        $child.removeClass('example-tldr').html( '...' );
        if ($child.attr('class').trim() === '') {
          $child.removeAttr('class');
        }
      }

      $child.children().each( processChild );
    }
  })();
  </script>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/prettify/r298/prettify.min.js"></script>
</body>
</html>
