<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">

  <title>{{ title }}</title>

  {{> _header }}
</head>

<body>
  {{> _Global.Nav }}

  <!-- Page Header
  ================================================== -->
  <header class="page-header">
    <div class="container">
      {{> _Global.Breadcrumbs }}

      <h1>{{ title }}</h1>

      <p class="lead">{{ description }}</p>
    </div>
  </header>

  <main class="layout layout-first-right" role="main">
    <article class="content content-primary">
      {{{ contents }}}
    </article>

    <aside class="content content-secondary">
      <ul>
        {{> _Nav.Siblings}}
      </ul>
    </aside>
  </main>

  {{> _Global.Footer }}

  {{> _footer }}

  <script>
  (function() {
    $('.guide-example').each(function() {
      if ( $(this).is('.example-processed') ) return;

      var $example = $(this).clone();

      $example.children().each( processChild );

      var $code = $('<code/>').text( $example.html().replace( /\&/mg, '&amp;' ).replace( '\n', '' ).replace( /=""/mg, '' ) );

      $('<pre class="prettyprint linenums" />').append( $code ).insertAfter( this );

      $(this).addClass('example-processed');
    });

    function processChild() {
      var $child = $(this);

      if ( $child.is('.example-ignore') ) {
        if ( this.nextSibling && this.nextSibling.nodeType === 3 && this.nextSibling.data.trim() === '' ) {
          $( this.nextSibling ).remove();
        }
        $child.remove();
        return;
      }

      if ( $child.is('.example-tldr') ) {
        $child.removeClass('example-tldr').html( '...' );
        if ($child.attr('class').trim() === '') {
          $child.removeAttr('class');
        }
      }

      $child.children().each( processChild );
    }
  })();
  </script>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/prettify/r298/prettify.min.js"></script>
</body>
</html>
