
<!-- Le javascript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="//cdn.nice.org.uk/V3/Scripts/nice/NICE.TopHat.js" async></script>

<script src="{{{ root }}}scripts/vendor/jquery.js"></script>
<script src="//cdn.nice.org.uk/V3/Scripts/twitter.bootstrap.js"></script>
<script src="//cdn.nice.org.uk/V3/Scripts/NICE.bootstrap.js"></script>

<script src="//cdn.nice.org.uk/V3/Content/assets/js/google-code-prettify/prettify.js"></script>
