<div class="footer">
  <div class="container">
    <a href="http://www.nice.org.uk" class="footer-logo"><span class="glyph-logo"></span></a>

    <ul class="nav nav-services" role="navigation">
      <li><a href="http://pathways.nice.org.uk">NICE Pathways</a></li>
      <li><a href="http://www.nice.org.uk/guidance">NICE Guidance</a></li>
      <li><a href="http://www.nice.org.uk/standards-and-indicators">Standards &amp;&nbsp;indicators</a></li>
      <li><a href="http://www.evidence.nhs.uk">Evidence services</a></li>
    </ul>
  </div>

  <div class="container">
    <div class="social-panel">
      <!-- AddThis Button BEGIN -->
      <p class="social-follow addthis_toolbox">
      Follow Us
      <a class="addthis_button_twitter_follow" addthis:userid="nicecomms" target="_blank" title="Follow on Twitter" href="#">
        <span class="glyph-twitter"></span>
      </a></p>
      <!-- AddThis Button END -->
    </div>

    <ul class="nav nav-legal" role="navigation">
      <li><a href="//www.nice.org.uk/about">About</a></li>
      <li><a href="//www.nice.org.uk/accessibility">Accessibility</a></li>
      <li><a href="//www.nice.org.uk/freedom-of-information">Freedom of information</a></li>
      <li><a href="//www.nice.org.uk/get-involved/contact-us">Contact Us</a></li>
      <li><a href="//www.nice.org.uk/glossary">Glossary</a></li>
      <li><a href="//www.nice.org.uk/terms-and-conditions">Terms and conditions</a></li>
      <li><a href="//www.nice.org.uk/subscribe">Subscribe</a></li>
    </ul>

    <p class="legal-copyright">Copyright &copy; 2014 National Institute for Health and Care Excellence. All rights reserved.</p>
  </div>
</div>
